<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AAFS - Abrigo de animais Feira de Santana</title>

    <link rel="stylesheet" href="../Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/Css/adm.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: seagreen;">
      <div class="container">
        <a class="navbar-brand" href="#"> <img class="logo" src="../Assets/Img/logoOP1.jpg" alt="Logo animais"> <span style="font-size: 15px;">AAFS</span>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobreNos.html">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adoteGato.html">Adote um gato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adoteCao.html">Adote um cachorro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="doar.html">Ajude a AAFS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="agenda.html">Agenda de eventos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="adm.html">Administrador</a>
                <span class="sr-only">(current)</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </header>
        
    <div class="container">
      <div class="row">
        <div class="col-sm-8" style="margin-left: 200px;">
          <h2 class="mt-4"><center> Login Administrador </center> </br> </h2>
          <form action="action_page.php" class="formAdm">
                <div class="imgcontainer">
                  <img src="../Assets/Img/img_avatar2.png" alt="Avatar" class="avatar">
                </div>
                <div class="containerForm">
                  <label for="uname"><b>Email</b></label>
                  <input class="usuarioAdm" type="email" placeholder="Digite o email" name="uname" required>
              
                  <label for="psw"><b>Senha</b></label>
                  <input class="senhaAdm" type="password" placeholder="Digite a senha" name="psw" required>
              
                  <button class="btnAdm" type="submit">Login</button>
                </div> 
            </form> 
            </br> </br>
        </div>
      </div>
      </div>
    </div>
    
    <footer class="py-5" style="background-color: seagreen; ">
      <div class="container">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h3>Fale conosco</h3>
              <form class="form-inline">
                <input class="form-control" type="text" placeholder="Nome" style="margin-right: 8px;">
                <input class="form-control" type="text" placeholder="Email" style="padding-right: 2px;">
                <textarea class="form-control col-md-10" type="text" placeholder="Mensagem" style="margin-top: 5px;" ></textarea>                  
                <i class="fa fa-search" aria-hidden="true"></i>
              </form>
              <div class="input-group-append" style="margin-top: 5px;">
                  <button class="btn btn-primary" type="button">Enviar</button>
                </div>
            </div>

            <div class="col-md-6 mb-4">
              <h2>Endereço/Contato</h2>
              <address>
                <strong>AAFS</strong>
                <br>Avenida Transnordestina, Novo Horizonte 
                <br>Feira de Santana, Bahia, 44036900
                <br>
              </address>
              <address>
                <abbr title="Phone">Telefone:</abbr>
                (75) 9 9285-1111
                <br>
                <abbr title="Email">Email:</abbr>
                <a href="mailto:#">houdiniam@gmail.com</a>
              </address>
            </div>
          </div>
        </div>
    </footer>
    <script src="../Vendors/Css/bootstrap.min.css"></script>
    <script src="../Vendor/JQuery/jquery.js"></script>

  </body>

</html>