<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AAFS - Abrigo de animais Feira de Santana</title>

    <link rel="stylesheet" href="../Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/Css/adoteGato.css">


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: seagreen;">
      <div class="container">
        <a class="navbar-brand" href="#"> <img class="logo" src="../Assets/Img/logoOP1.jpg" alt="Logo animais"> <span style="font-size: 15px;">AAFS</span>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobreNos.html">Sobre Nós</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="adoteGato.html">Adote um gato</a>
                <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adoteCao.html">Adote um cachorro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="doar.html">Ajude a AAFS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="agenda.html">Agenda de eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adm.html">Administrador</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </header>
        
    <div class="container">
        <div class="row">
            <div class="col-sm-12" >
                <h2 class="mt-4"><center> Adote um gatinho! </center> </br> </h2>
                <p>
                    Vários gatos, com idades entre 2 meses e 4 anos, aguardam por um lar no Abrigo de Animais de Feira de Santana (AAFS). 
                    Todos são alimentados com ração apropriada, recebem atendimento veterinário, vacinas, vermífugos, são castrados e colocados
                    para adoção responsável. Os felinos são também testados para o vírus *FIV.
                </p>

                <p>
                    Para realizar uma adoção faça o seguinte: verifique abaixo qual animalzinho você precisa levar pra casa e veja veja todas
                    as informações sobre ele. Após isso entre em contato conosco por telefone: (75) 9 9285-1111 ou por email:
                    <a href="mailto:#">houdiniam@gmail.com</a> . Realizando o contato iremos agendar um encontro no abrigo para
                    que um gatinho ganhe um lar!  

                </p>

                <p>
                    <b> Requisitos para adoção:</b> •Amar animais •Ter idade superior a 18 anos. •Apresentar RG, 
                    CPF e Comprovante de Residência •Realizar entrevista para esclarecer dúvidas 
                    •Contribuir com R$ 80 no momento da adoção para manutenção do abrigo 
                    •Assinar um Termo de Compromisso •No caso da adoção felina, pessoas que vivem em apartamento 
                    devem ter as janelas teladas e devem levar caixa de transporte no momento da adoção.
                </p>

            </div>
        </div>
        </br>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/cat1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-top: 68px;">
                            <h4 style="color:lightsalmon">Hipnos</h4>
                        </h4>
                        <p class="card-text" >
                            Hipnos é um gatinho bastante tranquilo, foi abandonado dentro de uma caixa de papelão no início de 2018. 
                            Ele ainda está assustado, por causa disso estranha outros gatinhos, mas sabemos que com uma família amorosa e
                            paciente ele será feliz de verdade! Hipnus tem cerca de 2 anos, 
                            está castrado, vacinado, vermifugado, foi testado e é negativo para o FIV.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/cat2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            <h4 style="color:lightsalmon">Tasmânia (Tas)</h4>
                        </h4>
                        <p class="card-text" >
                            Pense num carinha gente boa, super "paz e amor"?! É Tas! Apesar dessa cara super traquina, 
                            ele é um lindo e amável gatinho,
                            dócil e tranquilo, se dá bem com pessoas e outros animais. 
                            Tas tem 1 ano e foi vacinado, castrado, vermifugado e é FIV+.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/cat3.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            <h4 style="color:lightsalmon">Dominica</h4>
                        </h4>
                        <p class="card-text" >
                            Pense numa gatinha amorosa?! Dominica adora pessoas, adora outros gatos, lambe e dá cabeçadinhas, 
                            mia ansiosamente até receber um cafuné e tem 4 anos. Ela tem o costume de dar mordiscadas de carinho também, 
                            tudo para chamar sua atenção - eta, amor agreste! rs Dominica é adoção especial pois 
                            ela é positiva para o Vírus da Imunodeficiência Felina, conhecido como FIV.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item" >
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/cat4.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-top: 50px;">
                            <h4 style="color:lightsalmon">Âmbar e caramelo</h4>
                        </h4>
                        <p class="card-text" >
                            A pequena família aqui é um pacote duplo. Âmbar tem 3 anos e foi encontrada no meio de 2018 dentro de uma caixa 
                            de papelão com seu filhotinho. Caramelo é um menininho com cerca de 3 meses, muito dócil, adora brincar 
                            com outros gatinhos e é muito amoroso. Não estão castrados, porém estão vacinados, vermifugados, 
                            foram testados e são negativos para o FIV. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/cat5.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            <h4 style="color:lightsalmon">Tómas</h4>
                        </h4>
                        <p class="card-text" >
                            Tómas é um filhote de 5-6 meses que foi abandonado na porta do Abrigo de animais de Feira de Santana com uma fratura 
                            já calcificada na pata dianteira esquerda. A patinha atrofiou e é menor do que as demais,
                            mas Cupcake vive bem e tampouco sente dor. Dê uma chance a esse menino especial! 
                            Ele está castrado, vacinado, vermifugado, foi testado e é negativo para o FIV. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/cat6.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            <h4 style="color:lightsalmon">Grey</h4>
                        </h4>
                        <p class="card-text" >
                            Amorosa, dócil e sociável: essa gatona cinza e de olhos
                            esverdeados é uma pintura de tão linda! Grey é portadora do vírus FIV.
                            Ela tem cerca de 2 anos, está castrada, vacinada e vermifugada. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </br> </br>
        <div class="row">
            <div class="col-sm-12" >
                <p>
                    <b> Você sabe o que é FIV? </b>
                    Ainda sem cura, a FIV é uma doença que afeta o sistema imunológico dos gatinhos, deixando-os mais vulneráveis a 
                    outros vírus oportunistas, como o da gripe, a inflamações dos dentes, fungos e bactérias na pele. 
                    A FIV é transmissível apenas entre gatos, não oferecendo nenhum perigo para seres humanos ou outros animais. 
                </p>
                <p>
                    A adoção de um gatinho FIV+ é totalmente possível! Vivendo num lar, com cuidados e carinho, sem qualquer 
                    cesso à rua, a expectativa e qualidade de vida de um gatinho FIV+ é bastante alta. Ele vai viver por anos! 
                    Mas lembre-se: gatinhos positivos para FIV não podem conviver com gatinhos negativos para FIV. Dessa forma, o 
                    gatinho FIV+ deve ser filho único, ou ser adotado para uma casa com cães ou para uma casa com outros gatos FIV+. 
                </p>
            </div>
        </div>
    </div>
    </br> </br>
    
    <footer class="py-5" style="background-color: seagreen; ">
      <div class="container">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h3>Fale conosco</h3>
              <form class="form-inline">
                <input class="form-control" type="text" placeholder="Nome" style="margin-right: 8px;">
                <input class="form-control" type="text" placeholder="Email" style="padding-right: 2px;">
                <textarea class="form-control col-md-10" type="text" placeholder="Mensagem" style="margin-top: 5px;" ></textarea>                  
                <i class="fa fa-search" aria-hidden="true"></i>
              </form>
              <div class="input-group-append" style="margin-top: 5px;">
                  <button class="btn btn-primary" type="button">Enviar</button>
                </div>
            </div>

            <div class="col-md-6 mb-4">
              <h2>Endereço/Contato</h2>
              <address>
                <strong>AAFS</strong>
                <br>Avenida Transnordestina, Novo Horizonte 
                <br>Feira de Santana, Bahia, 44036900
                <br>
              </address>
              <address>
                <abbr title="Phone">Telefone:</abbr>
                (75) 9 9285-1111
                <br>
                <abbr title="Email">Email:</abbr>
                <a href="mailto:#">houdiniam@gmail.com</a>
              </address>
            </div>
          </div>
        </div>
    </footer>
    
    
    <script src="../Vendors/Css/bootstrap.min.css"></script>
    <script src="../Vendor/JQuery/jquery.js"></script>
</body>
</html>