<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AAFS - Abrigo de animais Feira de Santana</title>

    <link rel="stylesheet" href="../Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/Css/adoteCao.css">


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: seagreen;">
      <div class="container">
        <a class="navbar-brand" href="#"> <img class="logo" src="../Assets/Img/logoOP1.jpg" alt="Logo animais"> <span style="font-size: 15px;">AAFS</span>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobreNos.html">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adoteGato.html">Adote um gato</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="adoteCao.html">Adote um cachorro</a>
                <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="doar.html">Ajude a AAFS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="agenda.html">Agenda de eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adm.html">Administrador</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </header>
        
    <div class="container">
        <div class="row">
            <div class="col-sm-12" >
                <h2 class="mt-4"><center> Adote um cachorro! </center> </br> </h2>
                <p>
                    Vários cães, com idades entre 2 meses e 10 anos, aguardam por um lar no Abrigo de Animais de Feira de Santana (AAFS). 
                    Todos são alimentados com ração apropriada, recebem atendimento veterinário, vacinas, vermífugos, são castrados e colocados
                    para adoção responsável.
                </p>

                <p>
                    Para realizar uma adoção faça o seguinte: verifique abaixo qual animalzinho você precisa levar pra casa e veja todas
                    as informações sobre ele. Após isso entre em contato conosco por telefone: (75) 9 9285-1111 ou por email:
                    <a href="mailto:#">houdiniam@gmail.com</a> . Realizando o contato iremos agendar um encontro no abrigo para
                    que um cãozinho ganhe um lar!  

                </p>

                <p>
                    <b> Requisitos para adoção:</b> •Amar animais •Ter idade superior a 18 anos. •Apresentar RG, 
                    CPF e Comprovante de Residência •Realizar entrevista para esclarecer dúvidas 
                    •Contribuir com R$ 80 no momento da adoção para manutenção do abrigo 
                    •Assinar um Termo de Compromisso •No caso da adoção felina, pessoas que vivem em apartamento 
                    devem ter as janelas teladas e devem levar caixa de transporte no momento da adoção.
                </p>

            </div>
        </div>
        </br>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/dog1.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title">
                            <h4 style="color:lightsalmon">Elvis</h4>
                        </h4>
                        <p class="card-text" >
                            Elvis é um menino de pequeno porte e tem 4 meses. Ele é muito alegre, 
                            cheio de energia para dar e vender e precisará de uma casa com espaço ou passeios diários. 
                            Não sabemos o que ele passou, mas Elvis estranha alguns homens. Ele não se dá muito bem com outros cães. 
                            Elvis está castrado, vacinado e vermifugado.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/dog2.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-top: 41px;">
                            <h4 style="color:lightsalmon" >John Snow</h4>
                        </h4>
                        <p class="card-text" >
                            John Snow é um doce e muito alegre cãozinho, com cerca de 1 ano, que aguarda por um lar no 
                            Abrigo de animais de Feira de Santana. Ele é de médio-grande porte, muito amoroso com pessoas, 
                            se dá muito bem com outros cães, está castrado, vacinado e vermifugado.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/dog3.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-top: 45px;">
                            <h4 style="color:lightsalmon">Outono</h4>
                        </h4>
                        <p class="card-text" >
                            Outono é um tímido dognho com cerca de 3 anos, muito tranquilo, companheiro e fofo! 
                            Outono está castrado, vacinado e vermifugado. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item" >
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/dog4.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-top: 50px;">
                            <h4 style="color:lightsalmon">Thelma e Theo</h4>
                        </h4>
                        <p class="card-text" >
                            Os irmãos gemêos Thelma e Theo são inseparáveis, por isso vem numa incrível adoção dupla.
                            Os dois foram deixados na porta do Abrigo de animais de Feira de Santana e possuem 7 meses.
                            Adoram brincar na grama e são muito amorosos tanto entre si quanto com as pessoas.
                            Ainda não foram castrados mas já estão vacinados e vermifugados. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/dog5.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title"  style="margin-top: 65px;">
                            <h4 style="color:lightsalmon">Pantera</h4>
                        </h4>
                        <p class="card-text" >
                            Alegre, muito amoroso, tranquilo e sociável: menino Pantera tem 1 ano e está à espera de uma família para chamar de sua! 
                            Pantera adora um cafuné e um carinho na barriga. Logo deita no chão e se abre todo para receber um afago. 
                            Este é o tipo de cachorro que a gente se pergunta: por que ainda não foi adotado? Ele é de médio porte
                            está castrado, vacinado e vermifugado.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <img class="card-img-top" src="../Assets/Img/dog6.jpg" alt="">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-top: 40px">
                            <h4 style="color:lightsalmon">Bernardo</h4>
                        </h4>
                        <p class="card-text" >
                            Bernardo é um menino muito dócil, amoroso, muito dócil com outros cães. Ele tem 1 ano e meio, é de porte pequeno-médio, 
                            pesa cerca de 11kg, é carinhoso e dócil com pessoas. Bernardo está buscando uma família para amar e ser amado para sempre! 
                            Dá essa chance a ele, vai! Bernardo tem pelagem curta, está castrado, vacinado e vermifugado. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </br> </br>
    </div>
    </br> </br>
    
    <footer class="py-5" style="background-color: seagreen; ">
      <div class="container">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h3>Fale conosco</h3>
              <form class="form-inline">
                <input class="form-control" type="text" placeholder="Nome" style="margin-right: 8px;">
                <input class="form-control" type="text" placeholder="Email" style="padding-right: 2px;">
                <textarea class="form-control col-md-10" type="text" placeholder="Mensagem" style="margin-top: 5px;" ></textarea>                  
                <i class="fa fa-search" aria-hidden="true"></i>
              </form>
              <div class="input-group-append" style="margin-top: 5px;">
                  <button class="btn btn-primary" type="button">Enviar</button>
                </div>
            </div>

            <div class="col-md-6 mb-4">
              <h2>Endereço/Contato</h2>
              <address>
                <strong>AAFS</strong>
                <br>Avenida Transnordestina, Novo Horizonte 
                <br>Feira de Santana, Bahia, 44036900
                <br>
              </address>
              <address>
                <abbr title="Phone">Telefone:</abbr>
                (75) 9 9285-1111
                <br>
                <abbr title="Email">Email:</abbr>
                <a href="mailto:#">houdiniam@gmail.com</a>
              </address>
            </div>
          </div>
        </div>
    </footer>
    
    
    <script src="../Vendors/Css/bootstrap.min.css"></script>
    <script src="../Vendor/JQuery/jquery.js"></script>
</body>
</html>