<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AAFS - Abrigo de animais Feira de Santana</title>

    <link rel="stylesheet" href="../Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/Css/index.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: seagreen;">
      <div class="container">
        <a class="navbar-brand" href="#"> <img class="logo" src="../Assets/Img/logoOP1.jpg" alt="Logo animais"> <span style="font-size: 15px;">AAFS</span>  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sobreNos.html">Sobre Nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adoteGato.html">Adote um gato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adoteCao.html">Adote um cachorro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="doar.html">Ajude a AAFS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="agenda.html">Agenda de eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="adm.html">Administrador</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </header>
        
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <h2 class="mt-4">Quem somos</h2>
          <p>A AAFS, Abrigo de Animais de Feira de Santana é uma ONG sem fins lucrativos que visa ajudar os animais de rua e da UEFS a encontrarem um lar permanente.</p>
          <p>A nossa equipe é composta por voluntários e os animais depois de resgatados passam por uma avaliação veterinária, para ai sim serem postos para adoção. Clique para saber mais sobre a gente!</p>
          <p>
            <a class="btn btn-primary btn-lg" href="sobreNos.html">Sobre Nós</a>
          </p>
        </div>
        <div class="col-sm-5">
            <h2 class="mt-4">Venha ajudar o abrigo</h2>
            <p> A nossa ONG é sustentada pelos voluntários e pelas contribuições.</p>
            <p>Elas podem ser de diversas formas, como: doação de ração, 
              doação financeira, voluntariado, entre outros. Clique para saber como você pode nos ajudar! </p>
            <p>
              <a class="btn btn-primary btn-lg" href="doar.html" >Ajudar!</a>
            </p>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-6 my-4">
          <div class="card">
            <img class="card-img-top" src="../Assets/Img/gato.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Adote um gatinho</h4>
              <p class="card-text"> 
                Está à procura de um amigo para toda a vida?! Luci e muitos outros gatinhos, de todos os tipos de pelagem, 
                estão a espera de um lar amoroso e responsável, onde viverão com segurança e carinho, para sempre! Clique para ver mais.
              </p>
            </div>
            <div class="card-footer">
              <a href="adoteGato.html" class="btn btn-primary">Adote um gato!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-4">
          <div class="card">
            <img class="card-img-top" src="../Assets/Img/cateoro.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Adote um cachorro</h4>
              <p class="card-text">
                  Tony e muitos outros cachorrinhos, de porte grande e pequeno, esperam por um lar responsável, 
                  onde viverão com segurança e carinho para sempre! Clique para ver mais.
              </p>
            </div>
            <div class="card-footer">
              <a href="adoteCao.html" class="btn btn-primary">Adote um cachorro!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="py-5" style="background-color: seagreen">
      <div class="container">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h3>Fale conosco</h3>
              <form class="form-inline">
                <input class="form-control" type="text" placeholder="Nome" style="margin-right: 8px;">
                <input class="form-control" type="text" placeholder="Email" style="padding-right: 2px;">
                <textarea class="form-control col-md-10" type="text" placeholder="Mensagem" style="margin-top: 5px;" ></textarea>                  
                <i class="fa fa-search" aria-hidden="true"></i>
              </form>
              <div class="input-group-append" style="margin-top: 5px;">
                  <button class="btn btn-primary" type="button">Enviar</button>
                </div>
            </div>

            <div class="col-md-6 mb-4">
              <h2>Endereço/Contato</h2>
              <address>
                <strong>AAFS</strong>
                <br>Avenida Transnordestina, Novo Horizonte 
                <br>Feira de Santana, Bahia, 44036900
                <br>
              </address>
              <address>
                <abbr title="Phone">Telefone:</abbr>
                (75) 9 9285-1111
                <br>
                <abbr title="Email">Email:</abbr>
                <a href="mailto:#">houdiniam@gmail.com</a>
              </address>
            </div>
          </div>
        </div>
    </footer>
    <script src="../Vendors/Css/bootstrap.min.css"></script>
    <script src="../Vendor/JQuery/jquery.js"></script>

  </body>

</html>
